.Practice {
    background-color: rgb(180, 6, 6);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    min-height: 500px;
}

.aKey {
    background-color: #3FCC28 !important;
}

.uKey {
    background-color: #F3574F !important;
}
